config_version = 1

[general]

# Listening address
# use 0.0.0.0 as a wildcard IPv4 address
# use 127.0.0.1 to only listen local IPv4 connections
listening_address = "127.0.0.1"

# Listening port, between 1 and 65535.
# Ports below 1024 will require additional privileges.
listening_port = 8888

# Your website hostname.
hostname = "constellation.lacontrevoie.fr"

# The database URL
# Backend supports both SQLite and PostgreSQL
# (depending on compilation feature flags)
# PostgreSQL: postgres://user:password@address:port/database
# SQLite: /path/to/db.sqlite (can be relative)
database_url = "./db.sqlite"

[mail]

# Mailserver's FQDN
mailserver_address = "example.org"

# The email used for SMTP authentication
sender_email = "mailer-account@example.org"

# The password used for SMTP authentication
sender_password = "mailer password"

# The email address to use in the From field when sending emails
send_as = "Postmaster <postmaster@example.org>"

# Your organisation's contact address (in Reply-To header)
contact_address = "contact@example.org"

# Email templates
templates = [
    { id = 1, name = "Don (tutoiement)", title = "Merci d'avoir fait un don !", path = "emails/tu/donation.txt" },
    { id = 2, name = "Don en campagne (tutoiement)", title = "Merci d'avoir fait un don !", path = "emails/tu/donation-campaign.txt" },
    { id = 3, name = "Première adhésion (tutoiement)", title = "Merci d'avoir adhéré !", path = "emails/tu/membership.txt" },
    { id = 4, name = "Renouvellement d’adhésion (tutoiement)", title = "Merci d'avoir renouvelé ton adhésion !", path = "emails/tu/membership-renew.txt" },
    { id = 5, name = "Don (vouvoiement)", title = "Merci pour votre don !", path = "emails/vous/donation.txt" },
    { id = 6, name = "Don en campagne (vouvoiement)", title = "Merci pour votre don !", path = "emails/vous/donation-campaign.txt" },
    { id = 7, name = "Première adhésion (vouvoiement)", title = "Merci d'avoir adhéré !", path = "emails/vous/membership.txt" },
    { id = 8, name = "Renouvellement d’adhésion (vouvoiement)", title = "Merci d'avoir renouvelé votre adhésion !", path = "emails/vous/membership-renew.txt" }
]

[helloasso]

# Key used to authenticate with helloasso properly.
# Should be URL-safe random characters, at least 32.
# The final callback URL is https://{hostname}/callback/helloasso/{callback_key}
# Don't leave it empty!
callback_key = "CHANGE ME"

# The custom field label for username
field_username = "Champ personnalisé 1"

# The custom field label for message
field_message = "Champ personnalisé 2"
